.container {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
}

.button {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* stylish.css */
.button, .homeButton, input[type="text"], select {
    margin: 10px; /* Adjust this value to change the space around the buttons and boxes */
}

.homeButton {
    padding: 20px 40px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.homeButton:hover {
    background-color: #005670;
}

.button:hover {
    background-color: #005670;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

/* buttonstyle.css */
body {
    background-color: gray;
}

/* stylish.css */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.army-table {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    width: 100%;
}

.army-table th, .army-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.army-container,
.mission-container,
.platoon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-style {
    font-size: 1.5em;
    border-collapse: collapse;
}

.table-style th, .table-style td {
    padding: 10px;
    border: 1px solid black;
}

.button-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

input[type="text"] {
    width: 150px;
    height: 25px;
    font-size: 20px;
}

/* stylish.css */
select {
    width: 150px;
    height: 25px;
    font-size: 20px;
}

label {
    font-size: 25px;
}